ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    border-color: black;
  }

  li {
    float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2afb01;
  }

  #hello {
    float: right;
    color: white;
    padding-top: 13px;
    padding-right: 10px;
  }