<body>
    <h1 class="title">About Pulsewire</h1>
    <br/>
    <h2>What is Pulsewire?</h2>
    <p>
        Pulsewire is the newest social media website out there. This website allows you to connect with family and friends across the globe! Pulsewire is the place where you can
        update them in real time with posts. The best part about Pulsewire is the instant gradification you get with the 'like' button. Your followers can now let you know how 
        awesome your posts are with our 'like' button that will keep a count of how many people liked your post! Pulsewire was the fastest social media website to gain 100 million
        users in just three days of being live!
    </p>
    <br/>
    <p>
        A new feature that Pulsewire created was the option to have a private account. In user settings you will notice a brand new security option. Within that security option 
        there will be a question that asks to have your profile private, this will mean that no one other than your followers will be able to see your posts. Pulsewire takes pride in the security
        and safety of users so absolutely no private information can be viewed others with this security feature turned on.  
    </p>
    <br/>
    <h2>About the Team!</h2>
    <p>
        Pulsewire was created by 3 students pursuing their degrees at Franklin University. Team lead, Brysen, wanted to create a new social media platform that can rival with Meta and X.
        He spent many hours creating the perfect framework, idea, vision and once that was figured out, he needed to build a team around him to get the dream rolling. He selected senior developer,
        Ashley, to take on the style and look of the site as well as helping him with the tougher decisions. Lastly, he selected junior developer, Josh, to also take on building this platform. 
        Pulsewire was once an idea and with great leadership and plan, these three students created the biggest social media platform. 
        
    </p>
    <br>
</body>
